#sup{
  height: 40px;
  width: 100px;
}

.egale{
  width: 100px;
  height: 40px;
}
.nn{
  height: 40px;
  width: 50px; 
}
#resulta{
  margin-top: 20px;
  margin-bottom: 20px ;
  width: 25%;
  height: 33px;
  
}
#c{
  margin-top: 50px;
  margin-left: 20%;
  width:50%;
  height:300px;

}
